body {
    margin: 0px !important;
}

.pageContainerWithHeader {
    height: 88vh;
}

.buttonFooter {
    position: 'absolute';
    bottom: '7vh';
    left: '50%';
    transform: 'translate(-50%, -50%)';
}