.selectable-list-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selectableListItemContent {
    width: 100%;
    margin-bottom: 0px !important;
}

.selectableListItemProgressText {
    font-size: 5px !important;
}

.selectableListProgressBar {
    height: 5px !important;
    border-radius: 5px;
}